---
permalink: /resources/act
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<style>
    .list-group-item{
        font-size: 2rem;
    }
    .btn{
        font-size: 2rem;
    }
    .list-group{
        
        margin: 20px 5%;
        width: 90%;
    }
</style>
<body id="page-top">
    {% include nav.html %}
    <section class="bg-primary">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="page-heading" style="font-size: 6rem;">ACT Resources</h1>
                <!-- <hr class="light"> -->
                <!-- <hr style="visibility:hidden;"> -->
                <h3 class="text-faded">Explore the ACT resources created by our community!
                </h3>
            </div>
        </div>
    </section>
    <div class="list-group" style="padding-bottom: 50px;">
        <a target="_blank"href="https://drive.google.com/file/d/1q318_LqZYj_h0BWgfsov5CAEyDou3AYQ/view?usp=sharing" class="list-group-item list-group-item-action">
        General Tips for the SAT (very important)
        </a>

        <a target="_blank"href="https://drive.google.com/file/d/1m8QYQ9SR9N6Qo9IjDNrFvf5P4PSZoVSg/view?usp=sharing" class="list-group-item list-group-item-action">Literature and History passages from  SAT, PSAT, and Khan Academy</a>
        <a target="_blank" href="https://docs.google.com/presentation/d/1SuWwDd3-MUmUeGAK_8DW54InzZQT098p/edit#slide=id.g116cfcec3fe_0_42" class="list-group-item list-group-item-action">Explore our SAT/ACT panel</a>
        <a target="_blank"href="https://blog.prepscholar.com/the-complete-guide-to-sat-grammar-rules" class="list-group-item list-group-item-action">Complete Guide to SAT Grammar Rules by PrepScholar</a>
        <a target="_blank"href="https://blog.prepscholar.com/whats-actually-tested-on-sat-math-topics" class="list-group-item list-group-item-action">What’s actually tested on the Math section by PrepScholar</a>
        <a target="_blank"href="https://cdn.discordapp.com/attachments/844241226956800091/883516175647125524/unknown.png" class="list-group-item list-group-item-action">SAT Punctuation Rules</a>
        <a target="_blank"href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a target="_blank"href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a target="_blank"href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a> 
      </div>
      <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body> 
</html>