---
permalink: /resources/ap
---


<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<style>
    .list-group-item{
        font-size: 2rem;
        margin: 10px;
        border-radius: 5px;
    }
    .list-group-item:hover{
        filter: brightness(90%);
    }
    .btn{
        font-size: 2rem;
    }
    .list-group{
        
        margin: 20px 5%;
        width: 90%;
    }
</style>
<body id="page-top">
    {% include nav.html %}
    <section class="bg-primary">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="page-heading" style="font-size: 6rem;">AP Resources</h1>
                <!-- <hr class="light"> -->
                <!-- <hr style="visibility:hidden;"> -->
                <h3 class="text-faded">Explore the AP resources created by our community!
                </h3>
            </div>
        </div>
    </section>
    <section class="bg-gray">
    <div class="list-group">
        <a target="_blank"href="https://docs.google.com/presentation/d/1DcmzIpOIMe5i9pDGUcI2Eb3qjf07Xoyh2JHl-hqDHlg/edit?usp=sharing" class="list-group-item active list-group-item-action">
        AP Mock Questions
        </a>

        <a target="_blank"href="https://docs.google.com/presentation/d/1Ap6ds6wXWOp6p8x_L0JWdJuA0nY9lkog39rPce4IxQE/edit?usp=sharing" class="list-group-item list-group-item-action">Grammar for AP Exams</a>

        <a target="_blank" href="https://drive.google.com/drive/folders/1qlIBZGZnGOh6XWarC0fUWZ4_WQ1yYxda?usp=sharing" class="list-group-item list-group-item-action">AP US History Resources (complete folder containing study material and quizzes)</a>

        <a target="_blank" href="https://drive.google.com/drive/folders/1dme3A5e-A_KfstHFmN4RffDSrtVAq3bq?usp=sharing" class="list-group-item list-group-item-action">AP Calculus AB and BC Resources (complete folder containing study material and quizzes)</a>
        </div></section>
        
      <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

{% include scripts.html %}

<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>
    // check if browser understand object-fit style - affect css styles
    if (window.getComputedStyle(document.body).objectFit !== undefined) {
        $("body").addClass("object-fit-compatible");
        // check if browser understand background-size style - affect css styles
    } else if (window.getComputedStyle(document.body).backgroundSize !== undefined) {
        $("body").addClass("background-size-compatible");
        $('img').each(function () {
            $(this).css({
                'background-image': 'url(\'' + $(this).attr('src') + '\')'
            });
        });
    }
</script>
</body> 
</html>