<section id="get-involved">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get Involved!</h2>
                <hr class="light">
                <p class="text-faded">We are always looking for high school and college students to help us advance our cause. Whether you  are good at art, like to post on social media, have great scores on tests and in school, want to share your college application journey with others, or like writing articles, there's always a position for you on our team!</p>
                <a href="https://airtable.com/shrFX829SDhF3cGsa" target="_blank" class="btn btn-default btn-xl">Apply Now!</a>
            </div>
        </div>
    </div>
</section>
