<nav id="mainNav" class="navbar-default">
    <div class="container-fluid navbar-internal">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand page-scroll" href="#page-top">EduVisa</a> -->
            <a class="navbar-brand page-scroll" href="/"><img src="/img/logo_wide_hires_dark.png" height=80px style="border-radius: 8px;"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="/#who-we-are">Who We Are</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#what-we-do">What We Do</a>
                </li>
                <li>
                    <a class="page-scroll" href="/get-involved">Get Involved</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
