<style>
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
  .dropdown-item:hover {
    background-color: #ce8c96 !important;
  }
  .dropdown-toggle {
    cursor: pointer;
  }
</style>
<nav
  id="mainNav"
  class="navbar-default"
>
  <div class="container-fluid navbar-internal">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand page-scroll" href="#page-top">EduVisa</a> -->
      <a
        class="navbar-brand page-scroll"
        href="/"
        ><img
          src="/img/logo_wide_hires_dark.png"
          height="80px"
          style="border-radius: 8px"
      /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div
      class="collapse navbar-collapse"
      id="bs-example-navbar-collapse-1"
    >
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a
            class="page-scroll hvr-underline-from-center"
            href="/#who-we-are"
            >Who We Are</a
          >
        </li>
        <li>
          <a
            class="page-scroll hvr-underline-from-center"
            href="/#what-we-do"
            >What We Do</a
          >
        </li>
        <li class="dropdown">
          <a
            class="page-scroll hvr-underline-from-center dropdown-toggle"
            href="/resources"
            >Resources <span class="caret"></span>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-center"
            dropdown-menu-light
          >
            <li>
              <a
                class="dropdown-item"
                href="/resources/sat"
                >SAT</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/resources/ap"
                >AP</a
              >
            </li>
            <li>
              <a
                target="_blank"
                class="dropdown-item"
                href="https://drive.google.com/drive/folders/11fEfhm2CfPorFGYPyWuEm99hhXHZ7hR0?usp=sharing"
                >ACT</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/resources/college"
                >College Apps</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/resources/school"
                >School Subjects</a
              >
            </li>

            <li>
              <a
                class="dropdown-item"
                href="/resources/masterdoc"
                >Masterdoc</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            class="page-scroll hvr-underline-from-center"
            href="https://cloud-mars-a91.notion.site/Job-Board-ea2c739f2c744d9fb585752b09d8cc5d"
            >Get Involved</a
          >
        </li>
        <li>
          <a
            class="hvr-underline-from-center"
            href="https://myeduvisa.org/blog/"
            >Blog</a
          >
        </li>
        <li>
          <a
            class="hvr-underline-from-center"
            href="https://donate.myeduvisa.org"
            >Donate</a
          >
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
