<section class="bg-primary" id="who-we-are">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who We Are</h2>
                <hr class="light">
                <p class="text-faded">EduVisa is a global, student-run non-profit that aims to help students in their college and high school journey by providing a fun, interactive community of highschool and college students to help them make the most out of their high school and college experience and achieve new heights both in and out of the classroom.</p>
            </div>
        </div>
    </div>
</section>
