<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
    {% include nav.html %}

    <!-- Header -->
    <div class="hero-image">
        <div class="hero-text">
            <h1 class="section-heading">Welcome to the <br>EduVisa Community!</h1></br>
            <p>We're a global community of students, by students, for students, in a time when we're as disconnected as ever. </p>
            <a href="https://discord.gg/RcffyjxUP9" target="_blank" class="btn btn-primary btn-xl page-scroll">
                <i class="fab fa-discord fa-fw"></i>&nbsp Join Us On Discord!
            </a>
        </div>
    </div>




    <!--header>
    <section class="bg-light" id="header">
        <div class="container">
            <div class="row">
            <div class="wrapper">
                <div class="wrapper-image right">
                    <img src="/img/AdobeStock_front_25.jpeg" />
                </div>
                <div class="wrapper-text header-content">
                    <h1 class="section-heading">Welcome to the<br>EduVisa Community!</h1><br>
                    <p class="text-muted">We're a global community of students, by students, for students, in a time
                        when we're as disconnected as ever. </p>
                    <a href="https://discord.gg/ZnMKDKQ" target="_blank" class="btn btn-primary btn-xl page-scroll">
                        <i class="fab fa-discord fa-fw"></i>&nbsp Join Us On Discord!
                    </a>
                </div>
            </div>
            </div>
        </div>
    </section>
    </header-->

    <!-- Who We Are -->
    <section class="bg-gray" id="who-we-are">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Who We Are</h2>
                    <hr class="dark">
                    <!-- <p class="text-muted">EduVisa is a global, student-run non-profit that aims to help students in their college and high school journey by providing a fun, interactive community of highschool and college students to help them make the most out of their high school and college experience and achieve new heights both in and out of the classroom.</p> -->
                    <p class="text-muted">
                        Above all, EduVisa is a lively online community of students, sharing our journeys through high school and college. Our members come from all around the globe (over 80 countries!) and all walks of life. Beyond our community, EduVisa is also an academic support network, providing services like one-on-one tutoring and mentorship for our community members, free of charge.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- What We Do -->
    <section class="bg-light" id="what-we-do">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How We Support Our Community</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <p>We know firsthand how tricky it can be to navigate through high school academics and the college
                admissions process. That's why EduVisa offers the following programs to support the members of our
                community, <strong><em>all totally free of charge</em></strong>! To take advantage of these programs,
                please join us on Discord <a href="https://discord.myeduvisa.org"><strong>here</strong></a>!
                If you are already a part of our community, you can apply for each of our programs below.
            </p>
            <br>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-chalkboard-teacher wow bounceIn text-red"></i>
                        <h3>Webinars</h3>
                        <p class="text-muted">
                            We regularly sponsor webinars hosted by community members and outside experts alike!
                            They range from casual coffee chats to informational seminars,
                            covering all aspects of high school and college. Our current webinar series focuses on the
                            college admissions process.
                        </p>
                    </div>
                    <a href="https://lu.ma/eduvisa" target="_blank" class="btn btn-primary btn-xl">
                        Our Events Calendar</a>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="service-box">
                        <i class="fas fa-4x fa-edit wow bounceIn text-red" data-wow-delay=".1s"></i>
                        <h3>Tutoring</h3>
                        <p class="text-muted">
                            Our expert instructors, all top scorers in their field, provide personalized, one-on-one
                            tutoring for all subjects and standardized tests. To date, we've tutored over 500 students
                            in 50 countries, and now we're here to help you get that A or your dream score!​</p>
                    </div>
                    <a href="/programs/tutoring" target="_blank" class="btn btn-primary btn-xl">
                        Get a Tutor!</a>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-graduation-cap wow bounceIn text-red" data-wow-delay=".2s"></i>
                        <h3>Mentorship</h3>
                        <p class="text-muted">In our mentorship program, we match high school upperclassmen with
                            undergraduates who help them make the most out of their high school experience and college
                            application process, including essay review, resume building, scholarships, and more.</p>
                    </div>
                    <a href="/programs/mentorship" target="_blank" class="btn btn-primary btn-xl">
                        Match with a Mentor!</a>
                </div>
            </div>
        </div>
    </section>



  <style>
      body, html {
    height: 100%;
    }
    .right {
    float: right !important;
    }
    .wrapper {
    position: relative;
    width: 100%;
    }
    .wrapper:after {
    content: ' ';
    display: block;
    clear: both;
    }
    .wrapper-text {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 48%;
    padding: 30px;
    background-color: transparent;
    }
    .wrapper-image {
    float: left;
    width: 50%;
    min-height: 1px;
    }
    .wrapper-image img {
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    }
    .object-fit-compatible .wrapper-image img {
    object-fit: cover;
    }
    .background-size-compatible .wrapper-image img {
    width: 0;
    height: 0;
    padding: 50% 25%;
    background-position: 50% 50%;
    background-size: cover;
    }
</style>
    <!-- Get Involved! -->
    <section class="bg-gray" id="get-involved">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Join Our Team</h2>
                    <hr class="dark">
                    <p class="text-muted">
                        We are always looking for high school and college students to help support our community!
                        Whether you are good at art, like to post on social media, have great scores on tests and in
                        school, want to share your college application journey with others, or like writing articles,
                        there's always a position for you on our team!</p>
                    <a href="/get-involved" class="btn btn-primary btn-xl">Get Involved!</a>
                </div>
            </div>
        </div>
    </section>


    <!-- Donate! -->
    <section class="bg-light" id="Donate">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Support Our Mission</h2>
                    <hr class="dark">
                    <p class="text-muted">
                        As a 501(c)(3) non-profit, EduVisa relies on the generosity of donors to keep
                        our organization running smoothly and to continue providing our community programs
                        (like tutoring and mentorship) free of charge. All donations, no matter how small,
                        go directly to helping us reach more students and maintain our worldwide community.
                    </p>
                    <a href="https://donate.myeduvisa.org" target="_blank" class="btn btn-primary btn-xl">
                        <i class="fab fa-paypal fa-fw"></i>&nbsp Donate Now!
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Check out our recent posts! -->
    <section class="bg-gray" id="">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading">Our Recent Content</h2>
                <hr class="dark">
                <div class="videos">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/DVaMoPL6u7g" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="vid1"></iframe>
                      </div>
                      <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/HMJSOhqv2zA" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="vid1"></iframe>
                      </div>
                      <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/glni5hXBc1E" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="vid1"></iframe>
                      </div>
                </div>
                <div class="links">
                    <a href="https://www.youtube.com/channel/UC6KGOBlBVm8yp172XAoNKdQ" class="btn btn-primary btn-xl btn-youtube">Our Youtube</a>
                    <a href="https://myeduvisa.org/blog/" class="btn btn-primary btn-xl btn-blogs">Our Blogs</a>
                </div>
            </div>
        </div>
    </section>

      <!-- https://discord.myeduvisa.org" -->
  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 text-center" id="footer">
          <h3 class="section-heading footer-item">Join Us</h3>
          <ul class="list-unstyled" id="footer-links">
            <li><a href="/get-involved" class="footer-item"> Get Involved </a></li>
            <li><a href="/get-involved/tutoring" class="footer-item"> Become a Tutor </a></li>
            <li><a href="/get-involved/mentorship" class="footer-item"> Become a Mentor </a></li>
            <li><a href="/get-involved/specializations" class="footer-item"> Explore Other Positions </a></li>
          </ul>
        </div>

        <div class="col-sm-4 text-center">
            <img src="/img/logo_wide_hires_dark.png" height="80px">
            <p class="footer-item h5">© 2020 by The EduVisa Community, a 501(c)(3) nonprofit organization</p>
        </div>

        <div class="col-sm-4 text-center">
            <h3 class="section-heading footer-item">Community Programs</h3>
            <ul class="list-unstyled" id="community-programs">
                <li><a href="https://discord.myeduvisa.org" class="footer-item">Discord Server</a></li>
                <li><a href="/programs/tutoring" class="footer-item">Apply for a Tutor</a></li>
                <li><a href="/programs/mentorship" class="footer-item">Apply for a Mentor</a></li>
                <li><a href="https://lu.ma/eduvisa" class="footer-item">Upcoming Events</a></li>
            </ul>
        </div>
      </div>

      <div class="row" id="socials-list">
        <div class="col-sm text-center">
            <a href="mailto:team@myeduvisa.org"><i class="fa fa-envelope fa-2x socials" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/teameduvisa/"><i class="fab fa-facebook-square fa-2x socials"></i></a>
            <a href="https://www.instagram.com/myeduvisa/"><i class="fab fa-instagram fa-2x socials"></i></a>
            <a href="https://www.youtube.com/channel/UC6KGOBlBVm8yp172XAoNKdQ"><i class="fab fa-youtube fa-2x socials"></i></a>
            <a href="https://www.linkedin.com/company/myeduvisa/"><i class="fab fa-linkedin fa-2x socials"></i></a>
            <a href="https://twitter.com/myeduvisa"><i class="fab fa-twitter fa-2x socials"></i></a>
        </div>
      </div>
    </div>
  </section>


    {% include scripts.html %}

    <script>
        // check if browser understand object-fit style - affect css styles
        if (window.getComputedStyle(document.body).objectFit !== undefined) {
            $("body").addClass("object-fit-compatible");
            // check if browser understand background-size style - affect css styles
        } else if (window.getComputedStyle(document.body).backgroundSize !== undefined) {
            $("body").addClass("background-size-compatible");
            $('img').each(function () {
                $(this).css({
                    'background-image': 'url(\'' + $(this).attr('src') + '\')'
                });
            });
        }
    </script>

</body>

</html>
