<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  
  <!-- Header -->
    <header>
        <section class="bg-light" id="header">
            <div class="container">
                <div class="row">
                    <div class="wrapper">
                        <div class="wrapper-image right">
                            <img src="/img/pen-paper.jpg"/>
                        </div>
                        <div class="wrapper-text header-content">             
                            <h1 class="section-heading">Welcome to the<br>EduVisa Community!</h1><br>
                            <p class="text-muted">We're a global community of students, by students, for students, in a time when we're as disconnected as ever. </p>
                            <a href="https://discord.gg/ZnMKDKQ" target="_blank" class="btn btn-primary btn-xl page-scroll"><i class="fab fa-discord fa-fw"></i>&nbsp Join Us On Discord!</a>
                        </div>
                    </div>
                </div>
            </div>
          </section>
    </header>
        

  <!-- Who We Are -->
  <section class="bg-gray" id="who-we-are">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who We Are</h2>
                <hr class="dark">
                <p class="text-muted">EduVisa is a global, student-run non-profit that aims to help students in their college and high school journey by providing a fun, interactive community of highschool and college students to help them make the most out of their high school and college experience and achieve new heights both in and out of the classroom.</p>
            </div>
        </div>
    </div>
  </section>

  <!-- What We Do -->
  <section class="bg-light" id="what-we-do">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How We Support Our Community</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gem wow bounceIn text-red"></i>
                    <h3>Community</h3>
                    <p class="text-muted">We have a fun, interactive, and supportive community of students from all over the world who are excited to meet new people and talk about anything and everything from virtual learning to ice cream and everything in-between!</p>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-pencil-alt wow bounceIn text-red" data-wow-delay=".1s"></i>
                    <h3>Tutoring</h3>
                    <p class="text-muted">Our expert instructors provide one-on-one tutoring for all subjects from standardized tests like the SAT to World History. Our tutors, top scorers in their respective fields, are motivated and willing to help you get your dream scores!​</p>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-red" data-wow-delay=".2s"></i>
                    <h3>Mentorship</h3>
                    <p class="text-muted">In our mentorship program, college undergraduates and high school upperclassmen use their high school experience to guide fellow students to make the most out of their high school experience including essay review, resume building, scholarships, and more.</p>
                </div>
            </div>
        </div>
    </div>
  </section>

  <!-- Get Involved! -->
  <section class="bg-gray" id="get-involved">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get Involved!</h2>
                <hr class="dark">
                <p class="text-muted">We are always looking for high school and college students to help us advance our cause. Whether you  are good at art, like to post on social media, have great scores on tests and in school, want to share your college application journey with others, or like writing articles, there's always a position for you on our team!</p>
                <a href="/get-involved" class="btn btn-red btn-xl">Learn More!</a>
            </div>
        </div>
    </div>
  </section>


  
  <style>
    .right {
    float: right !important;
    }
    .wrapper {
    position: relative;
    width: 100%;
    }
    .wrapper:after {
    content: ' ';
    display: block;
    clear: both;
    }
    .wrapper-text {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
    background-color: transparent;
    }
    .wrapper-image {
    float: left;
    width: 50%;
    min-height: 1px;
    }
    .wrapper-image img {
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    }
    .object-fit-compatible .wrapper-image img {
    object-fit: cover;
    }
    .background-size-compatible .wrapper-image img {
    width: 0;
    height: 0;
    padding: 50% 25%;
    background-position: 50% 50%;
    background-size: cover;
    }
</style>


{% include scripts.html %}

<script> 
    // check if browser understand object-fit style - affect css styles
    if (window.getComputedStyle(document.body).objectFit !== undefined) {
        $("body").addClass("object-fit-compatible");
    // check if browser understand background-size style - affect css styles
    } else if (window.getComputedStyle(document.body).backgroundSize !== undefined) {
        $("body").addClass("background-size-compatible");
        $('img').each(function() {
            $(this).css({
                'background-image': 'url(\'' + $(this).attr('src') + '\')'
            });
        });
    }
</script>


</body>

</html>