<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav-front.html %}
  
  <!-- Header -->
  <header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <img src="/img/logo.png">   -->
            <img src="/img/logo_wide.png">         
            <!-- <br> -->
            <!-- <br> -->
            <!-- <h1>EduVisa</h1> -->
            <h2 style="margin:0;">The Passport to Your Future!</h2>
            <br>
            <a href="https://discord.gg/ZnMKDKQ" target="_blank" class="btn btn-primary btn-xl page-scroll"><i class="fab fa-discord fa-fw"></i>&nbsp Join Our Discord!</a>
        </div>
    </div>
  </header>

  <!-- Who We Are -->
  <section class="bg-primary" id="who-we-are">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who We Are</h2>
                <hr class="light">
                <p class="text-faded">EduVisa is a global, student-run non-profit that aims to help students in their college and high school journey by providing a fun, interactive community of highschool and college students to help them make the most out of their high school and college experience and achieve new heights both in and out of the classroom.</p>
            </div>
        </div>
    </div>
  </section>

  <!-- What We Do -->
  <section class="bg-light" id="what-we-do">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How We Support Our Community</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gem wow bounceIn text-red"></i>
                    <h3>Community</h3>
                    <p class="text-muted">We have a fun, interactive, and supportive community of students from all over the world who are excited to meet new people and talk about anything and everything from virtual learning to ice cream and everything in-between!</p>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-pencil-alt wow bounceIn text-red" data-wow-delay=".1s"></i>
                    <h3>Tutoring</h3>
                    <p class="text-muted">Our expert instructors provide one-on-one tutoring for all subjects from standardized tests like the SAT to World History. Our tutors, top scorers in their respective fields, are motivated and willing to help you get your dream scores!​</p>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-red" data-wow-delay=".2s"></i>
                    <h3>Mentorship</h3>
                    <p class="text-muted">In our mentorship program, college undergraduates and high school upperclassmen use their high school experience to guide fellow students to make the most out of their high school experience including essay review, resume building, scholarships, and more.</p>
                </div>
            </div>
        </div>
    </div>
  </section>

  <!-- Get Involved! -->
  <section class="bg-primary" id="get-involved">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get Involved!</h2>
                <hr class="light">
                <p class="text-faded">We are always looking for high school and college students to help us advance our cause. Whether you  are good at art, like to post on social media, have great scores on tests and in school, want to share your college application journey with others, or like writing articles, there's always a position for you on our team!</p>
                <a href="/get-involved" class="btn btn-default btn-xl">Learn More!</a>
            </div>
        </div>
    </div>
  </section>

  {% include scripts.html %}

</body>

</html>