<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body id="page-top">
    {% include nav.html %}

    <!-- Header -->
    <section class="bg-primary">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="page-heading" style="font-size: 6rem;">Resources</h1>
                <!-- <hr class="light"> -->
                <!-- <hr style="visibility:hidden;"> -->
                <h3 class="text-faded">Check out resources created by our community!
                </h3>
            </div>
        </div>
    </section>

    <section class="bg-light" id="tutoring">
        <div class="container">
            <div class="row">
                <div class="wrapper">
                    <div class="wrapper-image">
                        <img src="/img/sat.png" />
                    </div>
                    <div class="wrapper-text">
                        <h2 class="section-heading">SAT Resources</h2>
                        <p class="text-muted">We offer dedicated one-on-one tutoring to our community members for the
                            SAT, ACT, AP, and IB subjects, <b><i>totally free of charge!</i></b> To do so, we rely on
                            the work of over 100 volunteer tutors. In turn, we work hard to reward the dedication of our
                            tutoring staff through curated resources, volunteer hours, social events, and a path to join
                            our leadership team.</p>
                        <p class="text-muted">If you've excelled at the SAT, ACT, or any of your school subjects, and
                            you'd like to help us continue supporting thousands of high school students through
                            one-on-one tutoring, then we'd love to have you on our team.</p>
                        <a href="/get-involved/tutoring" class="btn btn-primary btn-xl">Download SAT Resources</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>